.profile-row {
    display: flex;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-text {
    max-width: 600px;
}

body {
    background-image: url('../images/drought-vegetation.jpg');
    background-size: cover;        /* To ensure the background covers the entire page */
    background-position: center;    /* To center the background */
    background-attachment: fixed;   /* Optional, makes the background fixed when scrolling */
}

/* Basic styles for the header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Optional: a background color for the header */
  padding: 10px;
  z-index: 1000; /* Ensures the header stays above other content */
}

/* Style the navigation bar */
nav {
  display: flex;
  justify-content: flex-end; /* Aligns the items to the right */
  align-items: center;
}

/* Style the navigation menu */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-left: 20px; /* Spacing between menu items */
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
}

ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
