---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";   // load all default theme styles

/* Make the top navigation bar stay at the top */
.masthead {
  position: sticky;
  top: 0;
  z-index: 9999;
}
