<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/project" | relative_url }}">Project</a></li>
        <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
        <li><a href="{{ "/contact" | relative_url }}">Contact</a></li>
      </ul>
      <span class="nav-text">                       </span>
    </nav>
  </header>

  <main>
    {{ content }} <!-- This is where the content from index.md or other markdown pages will be rendered -->
  </main>
</body>
</html>
